@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  font-family: "PT Sans Caption", sans-serif;
}

header {
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
}

.item a {
  color: black;
}

.item.active a {
  background-color: rgb(0, 207, 52);
  color: white;
}

.header {
  width: 100%;
  height: 9vh;
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 70%;
}

.menu img {
  width: 140px;
}

.menu ul {
  display: flex;
  gap: 16px;
}

.menu ul li a {
  padding: 5px 20px;
}

.item.active a {
  position: relative;
  border-radius: 20px;
}

.item a {
  text-transform: uppercase;
}

body {
  background: rgb(65, 133, 223);
  background: linear-gradient(180deg, #2fd366 5%, #50e4bf 20%, #50e4bf 60%, #2fd366 95%);
  width: 100vw;
  height: 90vh;
}

.cadastro form .input__Pessoa,
.cadastro form .input__Maquina {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cadastro form .input__Pessoa:hover {
  -webkit-animation: corInput 4s infinite alternate ease-in-out;
          animation: corInput 4s infinite alternate ease-in-out;
}

.cadastro form .input__Maquina:hover {
  -webkit-animation: corInput 4s infinite alternate ease-in-out;
          animation: corInput 4s infinite alternate ease-in-out;
}

.cadastro form input {
  border-radius: 6px;
  border: 1px solid #999999;
}

button[type=submit] {
  background-color: rgba(0, 121, 36, 0.3);
  color: white;
}

button[type=submit]:hover {
  background-color: rgba(57, 189, 182, 0.7);
  transition: 0.7s;
}

svg {
  filter: blur(24px);
}

@-webkit-keyframes corInput {
  0% {
    background: rgba(255, 255, 255, 0.35);
  }
  50% {
    background: rgba(207, 142, 245, 0.35);
  }
  100% {
    background: rgba(248, 255, 148, 0.35);
  }
}

@keyframes corInput {
  0% {
    background: rgba(255, 255, 255, 0.35);
  }
  50% {
    background: rgba(207, 142, 245, 0.35);
  }
  100% {
    background: rgba(248, 255, 148, 0.35);
  }
}
.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.cadastro form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  position: relative;
}

.cadastro form .input__Pessoa,
.cadastro form .input__Maquina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 500px;
  gap: 12px;
  z-index: 1;
}

.cadastro form .input__Pessoa {
  padding: 50px 15px;
}

.cadastro form .input__Maquina {
  padding: 50px 15px;
  display: flex;
}

.cadastro form h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  position: absolute;
  top: 30px;
}

.cadastro form input {
  border-radius: 6px;
  outline: none;
  text-align: center;
  padding: 4px;
}

.cadastro form select {
  border-radius: 6px;
  outline: none;
  text-align: center;
  padding: 2px;
}

.cadastro form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cadastro form input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

button[type=submit] {
  width: 112px;
  height: 36px;
  border: none;
  border-radius: 6px;
  margin-top: 24px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  cursor: pointer;
}

.inicio {
  width: 100%;
  height: 100%;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
}

.imgInicio {
  z-index: 1;
}

.descInicio {
  font-size: 28px;
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fancy {
  position: relative;
  white-space: nowrap;
}
.fancy:after {
  --deco-height: 0.3125em;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--deco-height) * -0.625);
  height: var(--deco-height);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: round;
  background-position: 0em;
}

.fundo {
  position: absolute;
  top: 50vh;
  left: 40vw;
  display: flex;
  -webkit-animation: rodaBolas 10s infinite alternate ease;
          animation: rodaBolas 10s infinite alternate ease;
  gap: 20px;
  transform: rotate(55deg);
  opacity: 0.4;
}

.fundo svg {
  z-index: -2;
}

@-webkit-keyframes rodaBolas {
  0% {
    gap: 20px;
    transform: rotate(55deg);
  }
  25% {
    gap: 120px;
    transform: rotate(65deg);
  }
  50% {
    gap: 300px;
    transform: rotate(360deg);
  }
  75% {
    gap: 20px;
    transform: rotate(55deg);
  }
  100% {
    gap: 120px;
    transform: rotate(65deg);
  }
}

@keyframes rodaBolas {
  0% {
    gap: 20px;
    transform: rotate(55deg);
  }
  25% {
    gap: 120px;
    transform: rotate(65deg);
  }
  50% {
    gap: 300px;
    transform: rotate(360deg);
  }
  75% {
    gap: 20px;
    transform: rotate(55deg);
  }
  100% {
    gap: 120px;
    transform: rotate(65deg);
  }
}
td {
  border: 1px solid rgba(0, 0, 0, 0.288);
  outline: none;
  background-color: rgba(255, 255, 255, 0.377);
  padding: 15px;
}

.tabelaMaquinas {
  display: flex;
  justify-content: center;
  align-items: self-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 90vh;
  margin: 0 auto;
  overflow-y: auto;
  z-index: -3;
}/*# sourceMappingURL=main.css.map */